%center
	%img.img-responsive{src: "http://placehold.it/336x280"}
%hr
.fb-page{"data-href" => "https://www.facebook.com/kakitubedotcom", "data-width" => "360", "data-hide-cover" => "false", "data-show-facepile" => "true", "data-show-posts" => "false"}
	.fb-xfbml-parse-ignore
		%blockquote{ cite: "https://www.facebook.com/kakitubedotcom"}
			%a{href: "https://www.facebook.com/kakitubedotcom"} KakiTube
%hr
.panel.panel-default
	.panel-heading
		%h3.panel-title TV Series - Latest Update
	.panel-body
		- @latest_update.each do |siri|
			.media
				.media-left
					= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
						= image_tag(siri.poster_url(:avatar), class: "media-object")
				.media-body
					= link_to siri_genre_show_path(siri, view: siri.siri_genre.slug) do
						%h4.media-heading= siri.title
					=h truncate(siri.description, length: 100)