%strong
  added an episode
- if activity.trackable
  #{ activity.trackable.title } for #{ link_to activity.trackable.season.siri.title, activity.trackable.season.siri } #{ activity.trackable.season.title }
- else
  which has been removed