- content_for :title do
  KakiTube | Edit Movie
- content_for :meta_tags do
  = render :partial => 'application/meta_tags', :locals => { :type => "website", :title => "KakiTube | Edit Movie", :url => request.url, :description => "KakiTube", :canonical => request.url, :og_title => "KakiTube | Edit Movie", :og_description => "KakiTube" }
  
/ Page Content
.container
  .row
    .col-lg-12
      .page-header
        %h1 Edit Movie
      #movie-list.panel.panel-default
        .panel-heading
          %h3.panel-title Edit Movie
        = form_for @post, html: { class: "form-horizontal", method: :patch } do |f|
          = render partial: 'form', locals: {f: f, post: @post}

