- content_for :title do
  Kakitube.com | Add New Movie
- content_for :meta_tags do
  = render :partial => 'application/meta_tags', :locals => { :type => "website", :title => "KakiTube | New Movie", :url => request.url, :description => "KakiTube", :canonical => request.url, :og_title => "KakiTube | New Movie", :og_description => "KakiTube" }
  
/ Page Content
.container
  .row
    .col-lg-12
      .page-header
        %h1 Add New Movie
      #movie-list.panel.panel-default
        .panel-heading
          %h3.panel-title New Movie
        = form_for @post, multipart: true, html: { class: "form-horizontal", method: :post } do |f|
          = render partial: 'form', locals: {f: f, post: @post}

