@font-face {
	font-family: 'ProximaNovaRegular';
	src: url("/assets/ProximaNova-Reg-webfont.eot");
	src: url("/assets/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Reg-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Reg-webfont.svg#ProximaNovaRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSemibold';
	src: url("/assets/ProximaNova-Sbold-webfont.eot");
	src: url("/assets/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Sbold-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Sbold-webfont.svg#ProximaNovaSemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaExtrabold';
	src: url("/assets/ProximaNova-Xbold-webfont.eot");
	src: url("/assets/ProximaNova-Xbold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Xbold-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Xbold-webfont.svg#ProximaNovaExtrabold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaThin';
	src: url("/assets/ProximaNova-Thin-webfont.eot");
	src: url("/assets/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Thin-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Thin-webfont.svg#ProximaNovaThin") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url("/assets/ProximaNova-Bold-webfont.eot");
	src: url("/assets/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Bold-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Bold-webfont.svg#ProximaNovaBold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaLight';
	src: url("/assets/ProximaNova-Light-webfont.eot");
	src: url("/assets/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Light-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Light-webfont.svg#ProximaNovaLight") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'ProximaNovaRegular', arial, helvetica, sans-serif !important;
	-webkit-font-smoothing: antialiased;
}

/*
	Navbar
*/

.navbar-brand img {
	width: 20px;
	height: 20px;
}

.navbar {
	border-radius: 0 !important;
}

.navbar-nav > li > a > img {
	margin-top: -22px;
	margin-bottom: -18px;
}

.nomar-bot {
	margin-bottom: 0 !important;
	border-bottom: 1px solid transparent !important;
	border-radius: 0 !important;
}