@font-face {
	font-family: 'ProximaNovaRegular';
	src: url("/assets/ProximaNova-Reg-webfont.eot");
	src: url("/assets/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Reg-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Reg-webfont.svg#ProximaNovaRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSemibold';
	src: url("/assets/ProximaNova-Sbold-webfont.eot");
	src: url("/assets/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Sbold-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Sbold-webfont.svg#ProximaNovaSemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaExtrabold';
	src: url("/assets/ProximaNova-Xbold-webfont.eot");
	src: url("/assets/ProximaNova-Xbold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Xbold-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Xbold-webfont.svg#ProximaNovaExtrabold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaThin';
	src: url("/assets/ProximaNova-Thin-webfont.eot");
	src: url("/assets/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Thin-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Thin-webfont.svg#ProximaNovaThin") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url("/assets/ProximaNova-Bold-webfont.eot");
	src: url("/assets/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Bold-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Bold-webfont.svg#ProximaNovaBold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaLight';
	src: url("/assets/ProximaNova-Light-webfont.eot");
	src: url("/assets/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"),
			 url("/assets/ProximaNova-Light-webfont.ttf") format("truetype"),
			 url("/assets/ProximaNova-Light-webfont.svg#ProximaNovaLight") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'ProximaNovaRegular', arial, helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	/*margin-bottom: 100px;*/
	/*padding-top: 60px;*/
}

/*
	Navbar
*/

.navbar-brand {
	padding: 5px 10px;
}

.navbar-brand img {
	width: 97px;
	height: 40px;
}

.navbar {
	z-index: 1;
	border-radius: 0;
}

.navbar-nav > li > a > img {
	margin-top: -22px;
	margin-bottom: -18px;
}

.nomar-bot {
	margin-bottom: 0;
	border-bottom: 1px solid transparent;
	border-radius: 0;
}

.pages.index input[type="text"],
.pages.show input[type="text"],
.pages.view input[type="text"],
.pages.search input[type="text"] {
	z-index: 0;
}

/*
	Login, Register n' Forgot Password
*/

.sessions.new,
.registrations.new,
.registrations.create,
.passwords.new,
.passwords.create {
	background-color: #AE5D54;
}

section#login-form {
	padding-top: 60px;
}

section#register-form {
	padding-top: 60px;
}

section#password-form {
	padding-top: 100px;
}

section#login-form h1,
section#register-form h1,
section#password-form h1 {
	color: #ffffff;
}

section#login-form p,
section#register-form p,
section#password-form p {
	font-size: 16px;
	color: #ffffff;
}

section#login-form p a,
section#register-form p a,
section#password-form p a {
	color: #ffffff;
	text-decoration: underline;
	font-weight: 600;
}

#login-form .form-box,
#register-form .form-box,
#password-form .form-box {
	background-color: #ffffff;
	padding: 0 20px;
	border-radius: 6px;
}

#login-form .form-box .page-header,
#register-form .form-box .page-header,
#password-form .form-box .page-header {
	padding-top: 10px;
}

/*
	frontpage - latest
*/

.movie {
	border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	overflow: hidden;
	position: relative;
}

.movie a {
	display: block;
}

.watch {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 130px;
	height: 36px;
	z-index: 10;
}

.gradient {
	background: url('/assets/gradient.png') repeat-x 0 0;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.movie .mini-desc {
	width: 70%;
}

.mini-desc {
	min-height: 80px;
	position: absolute;
	z-index: 10;
	bottom: 0;
	padding: 15px 25px 0 25px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

/*
	frontpage - random carousel
*/

.carousel {
	margin-top: 20px;
}

.carousel .movie .mini-desc {
	width: 100%;
}

.carousel .mini-desc p {
	font-size: 14px;
	line-height: 1.4;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

/*
	frontpage - small movie
*/

.small-movie {
	width: 130px;
	margin: 0 25px 25px 0;
	height: 163px;
	float: left;
}

.small-movie.last {
	margin-right: 0;
}

.mini-desc2 {
	min-height: 80px;
	position: absolute;
	z-index: 10;
	bottom: 0;
	padding: 15px 15px 0 15px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.status {
	z-index: 10;
	position: absolute;
	top: 0;
	padding: 0 15px 0 2px;
}

.small-movie:hover .mask {
   position:absolute;
   cursor:pointer;
   display: inline-block;
   height: 275px;
   width: 233px;
   border: 120px solid rgba(0, 0, 0, 0.5);
   opacity:1;
   visibility:visible;
   /*transition: all 0.4s ease-in-out;*/
}

/*
	Footer
*/

.footer {
	/*margin-top: 30px;*/
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

.container .details {
	padding-top: 1px;
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*
	Movie Show Page
*/

.background {
	position: absolute; 
  top: 0; 
  left: 0; 
  /*margin-top: 51px;*/
  min-width: 100%;
  min-height: 100%;
  -webkit-filter: blur(5px);
}

.white-bg {
	color: #ffffff;
}

.overlay {
	/*z-index: 0;*/
  height: 100%;
  width: 100%;
  position: absolute;
  /*overflow: auto;*/
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}

.white-bg .panel table,
.white-bg .media-body,
.white-bg .modal-content {
	color: #333333;
}

/*
	Responsive
*/

@media (max-width: 600px) {
	.small-movie {
		width: 140px;
		height: 176px;
		margin: 0 5px 25px 0;
	}

	.small-movie.last {
		margin: 0 5px 25px 0;
	}
}

@media (min-width: 321px) and (max-width: 800px) {
	/*.small-movie.last {
		margin: 0 25px 25px 0;
	}*/

	.movie .mini-desc h4 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.modal-md {
	  width: 670px;
	}
}