/ BEGIN TAG - DO NOT MODIFY
%script{:src => "http://toro-tags.com/my/kakitube/catfishv2.js", :type => "text/javascript"}
#wrapper_catfish
  %center
    #footer_ad
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border:0px;background-color:transparent;"}
        %tr{:style => "border:0px;background-color:transparent;"}
          %td{:border => "0", :style => "border:0px;background-color:transparent;", :valign => "top"}
            %script{:src => "http://toroadvertisingmedia.com/js/show_ads_toroadv.js", :type => "text/javascript"}
          %td{:border => "0", :style => "border:0px;background-color:transparent;", :valign => "top"}
            %div{:align => "right"}
              %a{:href => "javascript:ad_close();"}
                %img{:border => "0", :src => "http://d5z42oph1suk.cloudfront.net/close.png", :style => "height:91px !important;width:16px !important;"}/
/ END TAG