%footer.footer
  .container
    .row
      .col-lg-7.col-md-8.col-sm-8
        .details
          %h4 Variance of choice to watch Movies & TV Series online.
          %p.text-muted &copy 2015. KakiTube. All right reserved. Movie data pull from IMDb
      .col-lg-3.col-md-4.col-sm-4.pull-right
        .details
          %ul.list-unstyled.list-inline
            %li= link_to "Requests", new_request_path
            %li= link_to "Developer API", developer_path, target: "_blank"
            %li= link_to "FAQ", ""
            %li= link_to "DMCA", dmca_path
